[Unit]
Description=Docker Compose container starter

[Service]
WorkingDirectory=/home/luzifer/.config
Type=oneshot
RemainAfterExit=yes

ExecStartPre=/usr/bin/docker-compose pull --quiet --ignore-pull-failures
ExecStart=/usr/bin/docker-compose up -d --remove-orphans

ExecStop=/usr/bin/docker-compose stop

ExecReload=/usr/bin/docker-compose pull --quiet --parallel --ignore-pull-failures
ExecReload=/usr/bin/docker-compose up -d --remove-orphans

[Install]
WantedBy=default.target
