[Unit]
Description=Dropbox

[Service]
Type=simple
ExecStart=/home/luzifer/.dropbox-dist/dropboxd
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=default.target
