[Unit]
Description=Forces volume to stay at a level despite browser objecting
After=pulseaudio.service
Requires=pulseaudio.service

[Service]
ExecStart=/usr/bin/bash -e -c 'while true; do pactl set-source-volume @DEFAULT_SOURCE@ %i%; sleep 0.5; done'

[Install]
WantedBy=default.target
