[Unit]
Description=Service to renew local vault token

[Service]
Environment=VAULT_ADDR=https://vault.luzifer.io
Environment=VAULT_ROLE_ID=c5e0ef31-ffa3-d880-1386-e78ef74d14a7
ExecStart=/home/luzifer/gocode/bin/vault-user-token --log-level=debug --full-hostname=false
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
