[submodule ".zsh/oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim"]
	path = .vim
	url = git@github.com:Luzifer/vim.git
[submodule ".gimme-src"]
	path = .gimme-src
	url = https://github.com/travis-ci/gimme.git
